<html>
<head>
<title> Create Group Page </title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>


<!--
TODO : by default : If a collection does not exist, just show create button
TODO : if collection exists, pull all previous groups and show on create groups page using loginID or teacher ID?
-->

<!-- <form id = "postCheckGroups" method="POST" action="/post-check-groups"></form> -->
<!-- <form id = "postPlayGroups" method="POST" action="/post-play-groups"></form> -->

<!-- <form id = "test" method="POST" action="/test"></form> this works-->

<body>
    
    <textarea name = "groupdata" id = "groupdata_json"><%= JSON.stringify(data)%></textarea>
    <p id = "welcomemessage"></p>
<div>
    <input type="submit" value="+ new group" onclick="showCreateGroup()"/>
    <!-- <input type="submit" value="Play Crossword" form = "postPlayGroups"/> -->
</div>
<!-- style="display: none;" -->
<!-- works for current code -->
   <!-- <div id="creategroup_dialog" style="display: none;">
    <input type="text" name = "course_no" id="course_no" placeholder="Enter group number here" form = "test"></input>
    <input type="text" name = "course_name" id="course_name" placeholder="Enter group name here" form = "test"></input>
    <textarea name = "userdata" id = "userdata_json" form = "test"><%= JSON.stringify(data)%></textarea>
    <input type="submit" value="Click to Create group" onclick="Create()" form = "test"/> -->

    <div id="creategroup_dialog" style="display: none;">
    <input type="text" name = "course_no" id="course_no" placeholder="Enter group number here" form = "test"></input>
    <input type="text" name = "course_name" id="course_name" placeholder="Enter group name here" form = "test"></input>
    <!-- <textarea name = "userdata" id = "userdata_json" form = "test"><%= JSON.stringify(data)%></textarea> -->
    <!-- with create() function -->
    <!-- <button id = "action-button" onclick="Create()"> Click to create group</button> -->

    <!-- without create() function -->
    <button id = "action-button"> Click to create group</button>

  </div>

    <div class = "allgroups" id = "allgroups"></div>

    


<script>

        var textarea_json_object = document.getElementById("groupdata_json");
        var json_object = JSON.parse(textarea_json_object.innerHTML); // type is object
        console.log("This is the JSON object to work with", json_object);

        document.getElementById("welcomemessage").innerHTML = "Hello " + json_object.username + " please go ahead and create groups or click on groups to create quizzes";


        // TODO : create buttons for all the groups present in the teacher collection for the given teacherObjectID
       
        // show text boxes to create groups
        function showCreateGroup(){
            
            // alert asking for no. and name
            document.getElementById("course_no").value = "";
            document.getElementById("course_name").value = "";

            if ( document.getElementById("creategroup_dialog").style.display == "block") {
                document.getElementById("creategroup_dialog").style.display = "none";
                
            }
            else  {
                // document.getElementById("course_no").value = "";
                // document.getElementById("course_name").value = "";
                document.getElementById("creategroup_dialog").style.display = "block";
            }
            
        }

        //var data = 'course_no='+ document.getElementById("course_no").value + '&course_name=' + document.getElementById("course_name").value;
                $('#action-button').click(function() {
                    
                    var course = {};
                    course.user_id = json_object["_id"];
                    course.course_no = $('#course_no').val();
                    course.course_name = $('#course_name').val();

                    //$(this).val
                    

                    // var course_no = $('#course_no').val()
                    // var course_name =  $('#course_name').val()
                    // var data = 'course_no=' + course_no + '&course_name=' + course_name;

                    $.ajax({
                        //url: 'http://localhost:8000/get-home-data/post-create-groups',
                        //url: './postcourses',
                        url : './postcourses',
                        // data : data,
                        data: course,
                        type: 'POST',
                        // dataType: 'jsonp',
                        error: function(data) { // failure : group exists errot in this function
                            // $('#info').html('<p>An error has occurred</p>');
                            // console.log("this course already exists", data) // if i send 404

                      

                            // clear data in text boxes
                            // show error message on the screen


                        },
                        
                        success: function(data) { // inserted in DB, now create a button in this function
                            console.log("this has succeded", data)
                           
                            if(data == 'success'){
                                var span = document.createElement('span')
                                span.innerHTML = 'this is success';
                                document.getElementById("allgroups").appendChild(span);
                                alert("this is success, generate a button");
                            }
                            else if(data == 'course_error'){
                                alert("course exists already")
                            }


                            // var $title = $('<h1>').text(data.talks[0].talk_title);
                            // var $description = $('<p>').text(data.talks[0].talk_description);
                            // $('#info')
                            //     .append($title)
                            //     .append($description);
                        },
                      
                    });
                    });

        // make ajax call to update DB and accordingly make changes to page
        // function Create() {

        //         // verify if group no and name combination is already existing for this teacher, in teacherdata: courses
        //         // if name exists, say : already exists

        //         // get objects from db here to create divs, these are already created quizzes

        //         var data = 'course_no='+ document.getElementById("course_no").value + '&course_name=' + document.getElementById("course_name").value;
        //         $('#action-button').click(function() {
        //             $.ajax({
        //                 //url: 'http://localhost:8000/get-home-data/post-create-groups',
        //                 url: './get-home-data/post-create-groups',
        //                 data : data,
        //                 // data: {
        //                 //     "course_no" : document.getElementById("course_no").value,
        //                 //     "course_name": document.getElementById("course_name").value
                            
        //                 // },
        //                 error: function() { // failure : group exists errot in this function
        //                     // $('#info').html('<p>An error has occurred</p>');
        //                     alert("this is failure")
        //                 },
        //                 dataType: 'jsonp',
        //                 success: function(data) { // inserted in DB, now create a button in this function

        //                     alert("this is success, generate a button");
        //                     // var $title = $('<h1>').text(data.talks[0].talk_title);
        //                     // var $description = $('<p>').text(data.talks[0].talk_description);
        //                     // $('#info')
        //                     //     .append($title)
        //                     //     .append($description);
        //                 },
        //                 type: 'GET'
        //             });
        //             });


        //             /** I tried **/
        //             // $(document).ready(function(){
        //             //         $("button").click(function(){
        //             //             $.get("demo_test.asp", function(data, status){
        //             //             alert("Data: " + data + "\nStatus: " + status);
        //             //             });
        //             //         });
        //             //     });
        
        //                 /***** demo*****/
        //                 // $(document).ready(function(){
        //                 //     $("button").click(function(){
        //                 //         $.ajax({url: "/", success: function(result){
        //                 //         $("#allgroups").html(result);
        //                 //     }});
        //                 // });
        //                 // });


        //                 /**** demo****/

        //                 // $(document).ready(function(){
        //                 //     $("button").click(function(){
        //                 //         $.get("demo_test.asp", function(data, status){
        //                 //         alert("Data: " + data + "\nStatus: " + status);
        //                 //         });
        //                 //     });
        //                 //     });
            

        //                 // <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

        //                 // <button>Get External Content</button>

        //           // status :  failure
        //          // if name exists, say : already exists
                

        //         // status success
        //         // else allow creation and create a button for the same
        //         /****************************************************************/

        //         //current code//
        //         /*
        //         document.getElementById("creategroup_dialog").style.display = "none";
        //         var input = document.createElement("input");
        //         input.type = "submit";
        //         input.value = document.getElementById("course_no").value + "-" + document.getElementById("course_name").value;
        //         console.log(document.getElementById("allgroups"));
        //         document.getElementById("allgroups").appendChild(input);
        //         */
        // }     
        
</script>


</body>


</html>