/* 
table_list : classname for the table
first-child : first child of is parent body
td:first-child : select first td in a row
The ::before selector inserts something before the content of each selected element(s) 
*/

.table_list td:first-child:before {
    counter-increment: Serial;
    /* Increment the Serial counter */
    /* content: "Serial is: "counter(Serial); */
    content: counter(Serial);
    /* Display the counter */
    background-color: pink;
}

body>table {
    width: 100%;
    resize: both;
    /* total table width*/
}

#mydiv {
    resize: both;
    border: 2px solid #ff7f50;
}

#entiretable {
    resize: both;
    width: 100%;
    border: 4px solid red;

}

div {
    resize: both;
    /* border: 2px solid purple; */
}

table,th, td {
    border-collapse: collapse;
    resize: both;
    border : 3px solid green;
}

/* size of question answer table on right */
table.list {
    width: 100%;
    resize: both;
}

td,
th {
    resize: both;
    border: 1px solid #dddddd;
    /*table border width*/
    text-align: left;
    padding: 8px;
}

/*
tr:nth-child(evvfden),
table.list thead>tr {
    content: counter(rowNumber);
    background-color: yellow;
    resize: both;
}*/

body {
    counter-reset: Serial;
    /* Set the Serial counter to 0 */
}




/* question - answer text boxes sizes*/
input[type=text],
input[type=number] {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: both;
}

/* submit button - add row size*/
input[id=qa-submit] {
    width: 30%;
    text-align: center;
    background-color: #ddd;
    color: #000;
    padding: 10px 20px;
    /* height width */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* submit buttons at bottom*/
input[type=submit] {
    width: 30%;
    text-align: center;
    background-color: #ddd;
    color: #000;
    padding: 10px 20px;
    /* height width */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: right;
}

/* edit delete */
a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
    resize: both;
}

label.validation-error {
    color: red;
    /* required field*/
    margin-left: 5px;
}

.hide {
    display: none;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}


.left {
    left: 0;
    background-color: white;
}


.right {
    right: 0;
    background-color: white;
}