html{
  height:100%;
}
body{
  height:100%;
  min-width: 400px;
  margin:0;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#header {
	width : auto;
	padding :1% 1% 1% 2%;
}
	
.container{
  /* postion was absoulte earlier */
  position: absolute;
  bottom: 0; top: 0; left: 0; right: 0;
  text-align: center;
}
.center{
  margin: 0 auto;
}

.btn{
  margin: 20px 20px 0;  
}
.btn{
  width: 172px;
  height: 28px;
}

.line{  
  height: 2em;
}
.word, .clue{
  display: inline-block;
  height: 1.5em;  
  padding: 0 5px;
}
.word{
  text-align: right;  
  width: 100px;
}
.clue{
  width: 500px;
}

/* mapping*/

/* outer most div */


/* .container{
  width: 200px;
  height: 200px;
  position: relative;
  margin: 20px;
} 
*/

/* inner box */


.box{
  width: 0.7em;
  height: 0.7em;            
  position: absolute; /* absolute means positioned wrt ancestor */
  top: 0;
  left: 0;
  background-color: orange;
  /* opacity: 0; for demo purpose  */
  /* background-color: red; */
  /* font-size: 10px ; */
}

.stack-top{
  font-size: 0.5em;
  /* z-index: 5; */
  /* margin: 2px; for demo purpose  */
  position: absolute;
}

.crossword{
  display: block;  
  background-color: rgb(32,32,32);  
}
.square{  
  margin: 0 1px 1px 0;
  display: inline-block;
  font: 24px Calibri;
  /* orginal*/
  /*width: 1.25em;
  height: 1.25em;
  line-height: 1.25em; */
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em; 
  vertical-align: middle;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.letter{
  background-color: rgb(255,255,255);
  position: relative;
  /*added*/
  /* position : relative; */
   
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* after clicking on box */
.char:focus{
  -webkit-box-shadow: 0 0 0 2px rgba(255,32,32,1);
  -moz-box-shadow: 0 0 0 2px rgba(255,32,32,1);
  box-shadow: inset 0 0 0 2px rgba(255,32,32,1);  
}

/* mapping outer box */
.char {
  font-size:24px;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 0;
  margin: -1px 0 0 -1px;
  width: 1.35em;
  height: 1.35em;
  text-align: center;
  background: none; 
  /* added */
  position : relative;
} 

.hide{
  visibility: hidden;
}

.clueReadOnly
{
  border: 0 ;
  outline: 0;
  color:#303030 !important;
  background:none;
}