<html>
<head>
<title> Display Quiz for specific group Page </title>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<!-- send info to create quiz -->
<form id = "postCreateQuiz" method="POST" action="/post-create-quiz"></form>
<!-- <form id = "test" method="POST" action="/test"></form> this works-->

<!-- PAGE 5

TODO : by default : If a quiz does not exist, just show create quiz button
TODO : if quiz exists, pull all previous quizzes and show three buttons ( q1, try, grade )
TODO : for now only q1 and grade buttons

passed json object : userid, username, password, quiz id and title for that course to generate buttons, 
- pull all quiz ids for a particular course from quizdata collection - check a specific user, then a specific courseid, then all quiz ids
- then pull all the quizzes from the student data 

json_object = 
{"userId":"5fe661112aaedc40d812bd47","
username":"sapalep1",
"course_id":"4a22ed50-d498-44bb-9188-a164c1a10385","course":"check1-check1",
"quizzes":[{"quiz_id":"5fe6619b2aaedc40d812bd49","quiz_title":"algo"},
            {"quiz_id":"5fe662472aaedc40d812bd4a","quiz_title":"python"},
            {"quiz_id":"5ffe9d60cc4e3a129c27dc89","quiz_title":"delete this - 1"}]}

-->

<!-- create new quiz route -->
<!-- this route takes to main create quiz page -->
<!-- <form id = "postCreateQuiz" method="POST" action="/post-create-quizzes"></form>  -->

<body>
  
    <textarea name = "group_cw_data" id = "group_cw_data_json"><%= JSON.stringify(data)%></textarea>
    <a href="/logout" action = "/logout">Logout</a>
    <p id = "welcomemessage"></p>
<div id = "create_crossword">
    <!-- leads to a different page to  generate crossword -->
    <!-- not sure if i need form type here -->
    <!-- <input type="submit" value="+ create new crossword" form = "postCreateQuiz"/> -->
</div>

    <p id="past_quiz_details">Past crosswords will be displayed below</p>
    <span id = "no_display_quizzes_dialog" style = "display: none;"></span>
    <div class = "allquizzes" id = "allquizzes"></div>


<!-- style="display: none;" -->
<!-- works for current code -->
   <!-- <div id="creategroup_dialog" style="display: none;">
    <input type="text" name = "course_no" id="course_no" placeholder="Enter group number here" form = "test"></input>
    <input type="text" name = "course_name" id="course_name" placeholder="Enter group name here" form = "test"></input>
    <textarea name = "userdata" id = "userdata_json" form = "test"><%= JSON.stringify(data)%></textarea>
    <input type="submit" value="Click to Create group" onclick="Create()" form = "test"/> -->

    <!-- <div id="creategroup_dialog" style="display: none;">
    <input type="text" name = "course_no" id="course_no" placeholder="Enter group number here" form = "test"></input>
    <input type="text" name = "course_name" id="course_name" placeholder="Enter group name here" form = "test"></input>
    <button id = "action-button">Click to create group</button><br> -->



<script>

        // handle button click,

        var json_object = <%- JSON.stringify(data)%>
        console.log("This is the JSON object to work with", json_object);

        document.getElementById("welcomemessage").innerHTML = "Hello " + json_object.username + " please go ahead create crosswords or view past crosswords";
        // var textarea_json_object = document.getElementById("group_cw_data_json");
        // var json_object = JSON.parse(textarea_json_object.innerHTML); // type is object // converts all objects from /"/" -- to notmal JSON form , but keys are strings here
        // console.log("This is the JSON object to work with", json_object);

        // document.getElementById("welcomemessage").innerHTML = "Hello " + json_object.username + " these are the crosswords you created for this group";


        var anchor = document.createElement("a");
        var link = document.createTextNode("Create New Crossword")
        anchor.appendChild(link);
        anchor.title = "Create Crossword";
        anchor.href = "/createquiz/" + json_object["course"] + "?course_id="+ json_object["course_id"];
        anchor.action = "/createquiz/" + json_object["course"] + "?course_id="+ json_object["course_id"];
        console.log(anchor);
        document.getElementById("create_crossword").appendChild(anchor);
        

         // TODO ** : create these quizzes using ejs syntax
         // quiz ids is an array of quiz_id and quiz_name
         function DisplayPrevCrosswords(quizzes) { 
            console.log(quizzes)

                for(var i = 0 ; i<=quizzes.length - 1; i++) {
                    // keep this for buttons
                    // var input = document.createElement("input");
                    // input.type = "submit";
                    // input.name = "quiz_name";
                    // input.id = quizzes[i]["quiz_id"]
            
                    // input.value = quizzes[i]["quiz_name"];
                    // input.form = "postDisplayQuizzes";
                    // // input.setAttribute("onclick", "appendForm(x)"s);
                    // input.setAttribute("form", "postDisplayQuizzes");
                    // document.getElementById("allquizzes").appendChild(input);
                    // console.log(document.getElementById("allquizzes"));


                    // link 1
                    var span = document.createElement("span");
                    span.innerHTML = quizzes[i]["quiz_title"];
                    document.getElementById("allquizzes").appendChild(span);

                    var line_break = document.createElement("br")
                    span.append(line_break);


                    // var anchor_view = document.createElement("a");
                    // var link = document.createTextNode(quizzes[i]["quiz_title"])
                    // anchor_view.appendChild(link);
                    // anchor_view.title = quizzes[i]["quiz_title"];
                    // // passing course_name as parameter and quiz_id as query
                    // anchor_view.href = "/create/save/" +  json_object["course"]  + "?quiz_id="+ quizzes[i]["quiz_id"];
                    // anchor_view.action = "/create/save/" +  json_object["course"]  + "?quiz_id="+quizzes[i]["quiz_id"];
                    // document.getElementById("allquizzes").appendChild(anchor_view);

                    // link 1
                    var anchor_view = document.createElement("a");
                    var link = document.createTextNode("View")
                    anchor_view.appendChild(link);
                    anchor_view.title = "View"
                    // passing course_name as parameter and quiz_id as query
                    anchor_view.href = "/create/save/" +  json_object["course"]  + "?quiz_id="+ quizzes[i]["quiz_id"];
                    anchor_view.action = "/create/save/" +  json_object["course"]  + "?quiz_id="+quizzes[i]["quiz_id"];
                    document.getElementById("allquizzes").appendChild(anchor_view);

                     // link 2
                    var anchor_grades = document.createElement("a");
                    var link = document.createTextNode("See grades")
                    anchor_grades.appendChild(link);
                    anchor_grades.title = "See grades";
                    // passing course_name as parameter and quiz_id as query
                    anchor_grades.href = "/create/groups/" + anchor.title + "?quiz_id="+ quizzes[i]["quiz_id"];
                    // anchor.action = "/create/groups/" + anchor.title + "?quiz_id="+quizzes[i]["quiz_id"];
                    document.getElementById("allquizzes").appendChild(anchor_grades);

                     // link 3
                    var anchor_try = document.createElement("a");
                    var link = document.createTextNode("Try crossword")
                    anchor_try.appendChild(link);
                    anchor_try.title = "Try crossword";
                    // passing course_name as parameter and quiz_id as query
                    //anchor_try.href = "http://localhost:2000/" +  quizzes[i]["quiz_id"];
                    anchor_try.href = "/play/" +  json_object["course"]  + "/" + quizzes[i]["quiz_id"];
                    // anchor.action = "/create/groups/" + anchor.title + "?quiz_id="+quizzes[i]["quiz_id"];
                    document.getElementById("allquizzes").appendChild(anchor_try);

                     // link 4
                    var anchor_edit = document.createElement("a");
                    var link = document.createTextNode("Edit")
                    anchor_edit.appendChild(link);
                    anchor_edit.title = "Edit";
                    // passing course_name as parameter and quiz_id as query
                    anchor_edit.href = "/create/edit/" +  json_object["course"]  + "?quiz_id="+ quizzes[i]["quiz_id"];
                    anchor_edit.action = "/create/edit/" +  json_object["course"]  + "?quiz_id="+quizzes[i]["quiz_id"];
                    document.getElementById("allquizzes").appendChild(anchor_edit);

                    // link 5
                    var anchor_duplicate = document.createElement("a");
                    var link = document.createTextNode("Duplicate")
                    anchor_duplicate.appendChild(link);
                    anchor_duplicate.title = "Duplicate";
                    // passing course_name as parameter and quiz_id as query
                    anchor_duplicate.href = "/create/duplicate/" +  json_object["course"]  + "?quiz_id="+ quizzes[i]["quiz_id"];
                    anchor_duplicate.action = "/create/duplicate/" +  json_object["course"]  + "?quiz_id="+quizzes[i]["quiz_id"];
                    document.getElementById("allquizzes").appendChild(anchor_duplicate);

                    var line_break = document.createElement("br")
                    anchor_duplicate.append(line_break);
                    console.log(document.getElementById("allquizzes"));

                }
                console.log(document.getElementById("allquizzes"));
            }

            // "courses" in json_object ? DisplayPrevGroups(json_object["courses"]) : console.log("no past courses") ; // pass array
            
            // TODO : modify this code to handle quizzes in better way, to not call the function at all
            console.log(typeof(json_object["quizzes"]), "quiz type")
            if (JSON.stringify(json_object["quizzes"]) != '[]'){ // finding key in json object 
                console.log("in if", json_object["quizzes"])
                DisplayPrevCrosswords(json_object["quizzes"])
            }
            else {
                console.log("no past crosswords");
                console.log("blank string passed");
                document.getElementById("no_display_quizzes_dialog").innerHTML = "No past quizzes"
                document.getElementById("no_display_quizzes_dialog").style.display = "block"
            }

  
        
</script>


</body>


</html>