<html>
<head>
<title> Display Played Quiz for specific group Page </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/playedgroups.css">
</head>

<!-- send info to create quiz -->
<!-- <form id = "postCreateQuiz" method="POST" action="/post-create-quiz"></form> -->
<!-- <form id = "test" method="POST" action="/test"></form> this works-->

<!-- PAGE 5

TODO : by default : If a quiz does not exist, just show create quiz button
TODO : if quiz exists, pull all previous quizzes and show three buttons ( q1, try, grade )
TODO : for now only q1 and grade buttons

passed json object : userid, username, password, quiz id and title for that course to generate buttons, 
- pull all quiz ids for a particular course from quizdata collection - check a specific user, then a specific courseid, then all quiz ids
- then pull all the quizzes from the student data 

-->

<!-- create new quiz route -->
<!-- this route takes to main create quiz page -->
<!-- <form id = "postCreateQuiz" method="POST" action="/post-create-quizzes"></form>  -->

<body>
    <div class="main-container">
    <textarea name = "group_cw_data" id = "group_cw_data_json"><%= JSON.stringify(data)%></textarea>
    <!-- <a href="/logout" action = "/logout">Logout</a> -->
    

    <!-- <textarea name = "group_cw_data" id = "group_cw_data_json"><%= JSON.stringify(data)%></textarea> -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CrossBuildPlay</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li class="active"><a href="#">Groups</a></li>
                <li class="active"><a href="#">Tutorial</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li> -->
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Pallavi <span class="caret"></span></a>
                    <!-- <span class="caret"></span></a> -->
                <ul class="dropdown-menu">
                    <a class="dropdown-item" href="/logout">Logout</a>
                    <!-- <li><a href="#">Page 1-2</a></li>
                    <li><a href="#">Page 1-3</a></li> -->
                </ul>
                </li>
            </ul>
        </div>
    </nav>
    
    <p id = "welcomemessage"></p>
    <p id="exist">Existing Played Crosswords</p>
    <div class = "allquizzes" id = "allquizzes"></div>
    </div>


<!-- style="display: none;" -->
<!-- works for current code -->
   <!-- <div id="creategroup_dialog" style="display: none;">
    <input type="text" name = "course_no" id="course_no" placeholder="Enter group number here" form = "test"></input>
    <input type="text" name = "course_name" id="course_name" placeholder="Enter group name here" form = "test"></input>
    <textarea name = "userdata" id = "userdata_json" form = "test"><%= JSON.stringify(data)%></textarea>
    <input type="submit" value="Click to Create group" onclick="Create()" form = "test"/> -->

    <!-- <div id="creategroup_dialog" style="display: none;">
    <input type="text" name = "course_no" id="course_no" placeholder="Enter group number here" form = "test"></input>
    <input type="text" name = "course_name" id="course_name" placeholder="Enter group name here" form = "test"></input>
    <button id = "action-button">Click to create group</button><br> -->



<script>

        // handle button click,

        var json_object = <%- JSON.stringify(data)%>
        console.log("This is the JSON object to work with", json_object);

        document.getElementById("welcomemessage").innerHTML = "Hello " + json_object.username + "check your details for course " + json_object.course;
        // var textarea_json_object = document.getElementById("group_cw_data_json");
        // var json_object = JSON.parse(textarea_json_object.innerHTML); // type is object // converts all objects from /"/" -- to notmal JSON form , but keys are strings here
        // console.log("This is the JSON object to work with", json_object);

        // document.getElementById("welcomemessage").innerHTML = "Hello " + json_object.username + " these are the crosswords you created for this group";


        // var anchor = document.createElement("a");
        // var link = document.createTextNode("Create New Crossword")
        // anchor.appendChild(link);
        // anchor.title = "Create Crossword";
        // anchor.href = "/createquiz/" + json_object["course"] + "?course_id="+ json_object["course_id"];
        // anchor.action = "/createquiz/" + json_object["course"] + "?course_id="+ json_object["course_id"];
        // console.log(anchor);
        // document.getElementById("create_crossword").appendChild(anchor);
        


         // TODO ** : create these quizzes using ejs syntax
         // quiz ids is an array of quiz_id and quiz_name
         function DisplayPlayedCrosswords(quizzes) { 
            console.log(quizzes)

                for(var i = 0 ; i<=quizzes.length - 1; i++) {


                    // keep this for buttons

                    
                    var quiz_div = document.createElement("div");
                    quiz_div.id = "quiz_div"+i;
                    quiz_div.className = "quiz_list"
                    document.getElementById("allquizzes").appendChild(quiz_div);
                    console.log("I am here", quiz_div)

                    // quiz title
                    var span = document.createElement("span");
                    span.innerHTML = quizzes[i]["quiz_title"] + " (Final Score - "+ quizzes[i]["quiz_student_final_score"] + "/" + quizzes[i]["quiz_orig_final_score"] + ")";
                    //document.getElementById("allquizzes").appendChild(span);
                    document.getElementById("quiz_div"+i).appendChild(span);

                   
                    // var score_span = document.createElement("span");
                    // score_span.innerHTML = quizzes[i]["quiz_title"];
                    // document.getElementById("allquizzes").appendChild(score_span);

                    var line_break = document.createElement("br")
                    span.append(line_break);

                    // link 1
                    var anchor_grades = document.createElement("a");
                    var link = document.createTextNode("View answers")
                    anchor_grades.appendChild(link);
                    anchor_grades.title = "Check your answers for "+quizzes[i]["quiz_title"]
                    anchor_grades.href = "/grades/"+ json_object.course + "?quiz_id=" +  quizzes[i]["quiz_id"] ;
                    //document.getElementById("allquizzes").appendChild(anchor_grades);
                    document.getElementById("quiz_div"+i).appendChild(anchor_grades);

                    // link 1 - works - previous links 
                    // var anchor_grades = document.createElement("a");
                    // var link = document.createTextNode("See grades for "+quizzes[i]["quiz_title"])
                    // anchor_grades.appendChild(link);
                    // anchor_grades.title = "See grades for "+quizzes[i]["quiz_title"];
                    // anchor_grades.href = "/grades/"+ json_object.course + "?quiz_id=" +  quizzes[i]["quiz_id"] ;
                    // document.getElementById("allquizzes").appendChild(anchor_grades);
                    
                    var line_break = document.createElement("br")
                    quiz_div.append(line_break);
                    console.log(document.getElementById("allquizzes"));

                }
                console.log(document.getElementById("allquizzes"));
            }

            // "courses" in json_object ? DisplayPrevGroups(json_object["courses"]) : console.log("no past courses") ; // pass array
            
            // TODO : modify this code to handle quizzes in better way, to not call the function at all
            if (json_object["quizzes"] != '[]'){ // finding key in json object 
                console.log("in if", json_object["quizzes"])
                DisplayPlayedCrosswords(json_object["quizzes"])
            }
            else 
                console.log("no past attempted crosswords");
</script>


</body>


</html>